In [16]:
import pandas as pd
from scipy.stats import poisson

table = pd.read_csv("combined.csv")

In [17]:
table

,Unnamed: 0,Rk,Squad,MP,W,D,L,GF,GA,GD,...,Aston Villa,Southampton,Brighton,Brentford,Newcastle Utd,Leeds United,Everton,Fulham,Nott'ham Forest,Bournemouth
0,0,1,Manchester City,38,29,6,3,99,26,73,...,3–2,0–0,3–0,2–0,5–0,7–0,3–0,5–1,2–0,5–0
1,1,2,Liverpool,38,28,8,2,94,26,68,...,1–0,4–0,2–2,3–0,3–1,6–0,2–0,2–0,2–0,3–1
2,2,3,Chelsea,38,21,11,6,76,33,43,...,3–0,3–1,1–1,1–4,1–0,3–2,1–1,2–1,1–1,7–0
3,3,4,Tottenham,38,22,5,11,69,40,29,...,2–1,2–3,0–1,2–0,5–1,2–1,5–0,1–0,1–0,3–0
4,4,5,Arsenal,38,22,3,13,61,48,13,...,3–1,3–0,1–2,2–1,2–0,2–1,5–1,1–0,0–0,1–0
5,5,6,Manchester Utd,38,16,10,12,57,57,0,...,0–1,1–1,2–0,3–0,4–1,5–1,1–1,0–0,3–1,3–2
6,6,7,West Ham,38,16,8,14,60,51,9,...,2–1,2–3,1–1,1–2,1–1,2–3,2–1,1–0,1–1,2–0
7,7,8,Leicester City,38,14,10,14,62,59,3,...,0–0,4–1,1–1,2–1,4–0,1–0,1–2,4–2,2–2,3–0
8,8,9,Brighton,38,12,15,11,42,44,-2,...,0–2,2–2,0,2–0,1–1,0–0,0–2,2–0,0–3,0–0
9,9,10,Wolves,38,15,6,17,38,43,-5,...,2–1,3–1,0–3,0–2,2–1,2–3,2–1,4–0,0–0,1–1
10,10,11,Newcastle Utd,38,13,10,15,44,62,-18,...,1–0,2–2,2–1,3–3,0,1–1,3–1,1–1,1–0,1–1
11,11,12,Crystal Palace,38,11,15,12,50,46,4,...,1–2,2–2,1–1,0–0,1–1,0–0,3–1,1–0,1–1,3–0
12,12,13,Brentford,38,13,7,18,48,56,-8,...,2–1,3–0,0–1,0,0–2,1–2,1–0,2–1,2–0,1–2
13,13,14,Aston Villa,38,13,6,19,52,54,-2,...,0,4–0,2–0,1–1,2–0,3–3,3–0,0–1,1–1,2–0
14,14,15,Southampton,38,9,13,16,43,67,-24,...,1–0,0,1–1,4–1,1–2,1–0,2–0,1–2,2–2,2–0
15,15,16,Everton,38,11,6,21,43,66,-23,...,0–1,3–1,2–3,2–3,1–0,3–0,0,2–5,3–1,2–0
16,16,17,Leeds United,38,9,11,18,42,79,-37,...,0–3,1–1,1–1,2–2,0–1,0,2–2,1–0,3–1,2–1
17,17,18,Nott'ham Forest,38,7,14,17,34,53,-19,...,1–3,2–0,1–2,3–1,1–2,1–1,3–2,0–0,0,0–0
18,18,19,Fulham,38,6,5,27,34,77,-43,...,3–2,0–1,0–2,1–2,1–1,0–3,0–0,0,1–2,0–3
19,19,20,Bournemouth,38,5,7,26,23,84,-61,...,0–2,2–1,0–0,1–3,0–3,1–2,2–1,1–3,2–0,0

In [18]:
futureTable = pd.read_csv("future_matches_table.csv")

for a, b in futureTable.iterrows():
    
    home = b["Home"]
    away = b["Away"]
    
    if not home in table:
        continue
    elif not away in table:
        continue

    for i, j in table.iterrows():
        if (j["Squad"] == home):
            totalHGF = j["GF"]
            totalHGA = j["GA"]
            totalHMP = j["MP"]
            totalHGP90 = totalHGF / totalHMP
            totalHConcededP90 = totalHGA / totalHMP
            homeGF = j["HomeGF"]
            homeMP = j["HomeMP"]
            homeGA = j["HomeGA"]
            homeRK = j["Rk"]
            homeGP90 = homeGF / homeMP
            homeConcededP90 = homeGA / homeMP
            homeGP90 = (homeGP90 * .6) + (totalHGP90 * .4)
            homeConcededP90 = (homeConcededP90 * .6) + (totalHConcededP90 * .4)
            lastScore = j[away]
        if (j["Squad"] == away):
            totalAGF = j["GF"]
            totalAGA = j["GA"]
            totalAMP = j["MP"]
            totalAGP90 = totalAGF / totalAMP
            totalAConcededP90 = totalAGA / totalAMP
            awayGF = j["AwayGF"]
            awayMP = j["Away"]
            awayGA = j["AwayGA"]
            awayRK = j["Rk"]
            awayGP90 = awayGF / awayMP
            awayConcededP90 = awayGA / awayMP
            awayGP90 = (awayGP90 * .6) + (totalAGP90 * .4)
            awayConcededP90 = (awayConcededP90 * .6) + (totalAConcededP90 * .4)
            lastScoreOpp = j[home]
        
    odds = 0
    expected = 0
    for i in range(10):
        hgfOdds = poisson.pmf(i, homeGP90)
        agaOdds = poisson.pmf(i, awayConcededP90)
        if (hgfOdds + agaOdds > odds):
            odds = hgfOdds + agaOdds
            expected = i

    awayOdds = 0
    awayExpected = 0
    for i in range(10):
        agfOdds = poisson.pmf(i, awayGP90)
        hgaOdds = poisson.pmf(i, homeConcededP90)
        if (agfOdds + hgaOdds > awayOdds):
            awayOdds = agfOdds + hgaOdds
            awayExpected = i

    if homeRK - awayRK >= 14:
        awayExpected += 2
    elif homeRK - awayRK >= 7:
        awayExpected += 1
    elif awayRK - homeRK >= 14:
        expected += 2
    elif awayRK - homeRK >= 7:
        expected += 1

    if not lastScore == "0":
        x = lastScore.split("–")
        homeG = int(x[0])
        awayG = int(x[1])
        if not lastScoreOpp == "0":
            y = lastScoreOpp.split("–")
            homeG2 = int(y[1])
            awayG2 = int(y[0])
            homeG = int((homeG + homeG2) / 2)
            awayG = int((awayG + awayG2) / 2)

    if (homeG - expected) >= 3:
        expected += 2
    elif (homeG - expected) >= 1:
        expected += 1
    elif (awayG - awayExpected) >= 3:
        awayExpected += 2
    elif (awayG - awayExpected) >= 1:
        awayExpected += 1
    
    futureTable.at[a, "xG"] = str(expected)
    futureTable.at[a, "xG.1"] = str(awayExpected)

In [19]:
futureTable

,Unnamed: 0,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,0,1.0,Fri,2022-08-05,20:00,Crystal Palace,2,NaN,2,Arsenal,NaN,Selhurst Park,NaN,Head-to-Head,NaN
1,1,1.0,Sat,2022-08-06,12:30,Fulham,0,NaN,4,Liverpool,NaN,Craven Cottage,NaN,Head-to-Head,NaN
2,2,1.0,Sat,2022-08-06,15:00,Tottenham,2,NaN,2,Southampton,NaN,Tottenham Hotspur Stadium,NaN,Head-to-Head,NaN
3,3,1.0,Sat,2022-08-06,15:00,Newcastle Utd,2,NaN,1,Nott'ham Forest,NaN,St. James' Park,NaN,Head-to-Head,NaN
4,4,1.0,Sat,2022-08-06,15:00,Leeds United,2,NaN,2,Wolves,NaN,Elland Road,NaN,Head-to-Head,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,412,38.0,Sun,2023-05-28,15:00,Everton,1,NaN,1,Bournemouth,NaN,Goodison Park,NaN,Head-to-Head,NaN
413,413,38.0,Sun,2023-05-28,15:00,Leicester City,1,NaN,2,West Ham,NaN,King Power Stadium,NaN,Head-to-Head,NaN
414,414,38.0,Sun,2023-05-28,15:00,Aston Villa,2,NaN,1,Brighton,NaN,Villa Park,NaN,Head-to-Head,NaN
415,415,38.0,Sun,2023-05-28,15:00,Leeds United,1,NaN,3,Tottenham,NaN,Elland Road,NaN,Head-to-Head,NaN
416,416,38.0,Sun,2023-05-28,15:00,Brentford,0,NaN,2,Manchester City,NaN,Brentford Community Stadium,NaN,Head-to-Head,NaN

In [20]:
futureTable.to_csv("2022-2023_Fixtures.csv")